<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNTwmAnnBXWoSfPss-rnSImn8FemiVYaZ8eQ&usqp=CAU"
        type="image/icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/content.css">
    <title>University of Southampton</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="/Images/output-onlinepngtools.png" alt="logo">
            <ul>
                <li><a href="" class="active">Home</a></li>
                <li><a href="">Student Task</a></li>
                <li><a href="">Updates</a></li>
                <li><a href="">View Grades</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
        <div class="center">
            <h1>Welcome to University of Southampton</h1>
            <p><%= username %></p>
            <div class="buttons">
                <button>Explore More</button>
                <button class="btn">Join Clubs</button>
            </div>
        </div>
    </div>
</body>
</html>