*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url('https://www.romseyadvertiser.co.uk/resources/images/10035524/');
    background-size: cover auto;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
    width: 180px;
    padding:0px 60px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: white;
    color:black;
    border-radius: 2px;
}
.wrapper .center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.center p{
    color: white;
    font-size: 50px;
    width: 869px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.center .buttons{
    margin:35px 280px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    columns: #ffb3b3;
    background: white;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background: dimgrey;
    color: whitesmoke;
}